
/* ========== USERS AREA ========== */
#usuarios{
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
}

.user_container{
    margin: 4% 2%;
  }


/* ========== USERS HEADER AREA ========== */

.user_header{
    display: flex;
    justify-content: space-between;
}

.title{
    color: var(--color-neutral-10);
    font-size: 32px;
    font-weight: bold;
  }


   /* ========== BTN HEADER AREA ========== */
   .btn{
    overflow: hidden;
    position: relative;
    transition: .5s ease-in;
  }

  .btn::before{
      background: var(--color-light-blue);
      content: "";
      height: 0;
      left: 0;
      position: absolute;
      transition: .8s ease-in;
      width: 100%;
      z-index: -1;
    }

    .btn_user{
        border: 2px solid var(--color-light-blue);
        border-radius: 10px;
        color: var(--color-neutral-10);
        font-weight: 600;
        padding: 1%;
        transition: .5s;
        /* transform: translateY(15px); */
        z-index: 0;
    }

    .btn_user::before{
        bottom: 0;
        border-radius: 22% 22% 0 0;
      }
    
    .btn_user:hover{
        border: 2px solid var(--color-light-blue);
        color: var(--color-neutral-20);
        transform: translateY(-5px);
    }
    
    .btn_user:hover::before{
        height: 108%;
    }

/* ========== PERFIL DASHBOARD AREA ========== */
.dash_content_user{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin: 2% 0 0 0;
}

.dash_user_deleted{
    background: var(--color-white);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2%;
    width: 68%;
    height: 400px;
  }

  .title_user_deleted{
    margin: 0 0 2% 0;
  }

  .perfil_info_deleted{
    border-bottom: 2px solid var(--color-bg);
    cursor: pointer;
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
    margin: 2% 0 0 0;
    padding: 2%;
  }

  .perfil_user_deleted{
    max-height: 300px; 
    overflow-y: auto;  
    /* padding: 10px;      */
  }

  .icon_dash{
    background: var(--color-light-blue);
    border-radius: 50%;
    cursor: pointer;
    height: 43px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
    width: 43px;
  }

  .perfil_header{
    display: flex;
    gap: 1rem;
  }

    /* ========== BUTTONS DASHBOARD AREA ========== */
    .buttons_area{
        display: flex;
        gap: 1.2rem;
        margin: 0 0 0 5%;
    }

    .btn_edit{
        background: var(--color-blue);
        border-radius: 50%;
        cursor: pointer;
        color: var(--color-white);
        height: 36px;
        padding: 6px;
        /* text-align: center; */
        transition: 0.5s;
        width: 36px;
    }

    .btn_remove{
        background: var(--color-light-error);
        border-radius: 50%;
        cursor: pointer;
        color: var(--color-white);
        height: 36px;
        padding: 6px;
        /* text-align: center; */
        transition: 0.5s;
        width: 36px;
    }

    .btn_export{
        background: var(--color-green);
        border-radius: 50%;
        cursor: pointer;
        color: var(--color-white);
        height: 36px;
        padding: 6px;
        /* text-align: center; */
        transition: 0.5s;
        width: 36px;
    }

    .btn_edit:hover,
    .btn_remove:hover,
    .btn_export:hover{
        transform: translateY(2px);
    }

  /* ================= DASHBOARD USER DELETED - SCROLL BAR AREA ================= */
  .perfil_user_deleted::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
  }

  .perfil_user_deleted::-webkit-scrollbar-track {
    background: var(--color-bg); /* Cor do trilho da barra de rolagem */
    border-radius: 5px;
  }

  .perfil_user_deleted::-webkit-scrollbar-thumb {
    background: var(--color-light-blue); /* Cor do "polegar" da barra de rolagem */
    border-radius: 5px;
    border: 3px solid var(--color-black); /* Adiciona uma borda ao redor do "polegar" */
  }

  .perfil_user_deleted::-webkit-scrollbar-thumb:hover {
    background:var(--color-light-blue);
  }

  /* ================= SNACKBAR  ================= */

  .message {
    background-color: #d4edda;
    border-radius: 5px;
    color: #155724;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    gap: 1rem;
    margin: 2% 0;
    padding: 10px;
    transition: opacity 0.5s ease-out;
    width: 50%;
  } 